<tr>
    <th></th>
    <th class="th-sm">Date
    </th>
    <th class="th-sm">Ipaddress
    </th>
    <th class="th-sm">City
    </th>
    <th class="th-sm">Post
    </th>
    <th class="th-sm">location
    </th>
    <th class="th-sm">hostname
    </th>
    <th class="th-sm">upload
    </th>
    <th class="th-sm">Dawnload
    </th>
    <th class="th-sm">ping
    </th>
    <th class="th-sm">Organisation
    </th>
</tr>
</thead>

<td>
    <tr>

        <td>{{data.date}}</td>
        <td>{{data.IpAddress}}</td>
        <td>{{data.city}}</td>
        <td>{{data.post}}</td>
        <td>{{data.location}}</td>
        <td>{{data.hostname}}</td>
        <td>{{data.upload}}</td>
        <td>{{data.dawnload}}</td>
        <td>{{data.ping}}</td>
        <td>{{data.organisation}}</td>
</td>
</tr>
<tr>
    <th>Date
    </th>
    <th>IpAddress
    </th>
    <th>City
    </th>
    <th>Post
    </th>
    <th>location
    </th>
    <th>hostname
    </th>
    <th>upload
    </th>
    <th>Download
    </th>
    <th>ping
    </th>
    <th>organisation
    </th>
</tr>